<a href="https://colab.research.google.com/github/vitcuellar/Dados-API-IBGE/blob/main/API_IBGE_Dados_Populacionais_PIB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Biblioteca

In [ ]:
import pandas as pd
import requests
import pprint
import json

#Dados de PIB

##PIB Recorrente Anual

In [ ]:
# Link da API do IBGE

link_IBGE = "https://servicodados.ibge.gov.br/api/v3/agregados/6784/periodos/1996|1997|1998|1999|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|2019|2020|2021/variaveis/9808?localidades=N1[all]"

# Extração dos dados a partir do request

requisicao = requests.get(link_IBGE)

# Verifica se a requisição foi bem-sucedida

if requisicao.status_code == 200:
    # Converte a resposta em formato JSON para um dicionário
    info_pib = requisicao.json()
else:
    print("Erro na requisição: ", response.status_code)

# Visualização do JSON

info_pib

Out[10]: [{'id': '9808',
  'variavel': 'PIB - valores correntes',
  'unidade': 'Milhões de Reais',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'1996': '854764',
       '1997': '952089',
       '1998': '1002351',
       '1999': '1087710',
       '2000': '1199092',
       '2001': '1315755',
       '2002': '1488787',
       '2003': '1717950',
       '2004': '1957751',
       '2005': '2170585',
       '2006': '2409450',
       '2007': '2720263',
       '2008': '3109803',
       '2009': '3333039',
       '2010': '3885847',
       '2011': '4376382',
       '2012': '4814760',
       '2013': '5331619',
       '2014': '5778953',
       '2015': '5995787',
       '2016': '6269328',
       '2017': '6585479',
       '2018': '7004141',
       '2019': '7389131',
       '2020': '7609597',
       '2021': '9012142'}}]}]}]

In [ ]:
# Extração do array com os dados que queremos visualizar
pib_recorrente = [info_pib[0]["resultados"][0]["series"][0]["serie"]]

# Criar o DataFrame a partir do array
db_pib_recorrente = pd.DataFrame(pib_recorrente)
db_pib_recorrente = db_pib_recorrente.T

# Renomear Colunas do DataFrame
db_pib_recorrente.rename(columns={0: "PIB"}, inplace=True)
db_pib_recorrente = db_pib_recorrente.rename_axis("Ano").reset_index()

# Tratamento de dados: formatação do formato do dado

db_pib_recorrente["Ano"] = db_pib_recorrente["Ano"].astype(int)
db_pib_recorrente["PIB"] = db_pib_recorrente["PIB"].astype(int)

db_pib_recorrente

,Ano,PIB
0,1996,854764
1,1997,952089
2,1998,1002351
3,1999,1087710
4,2000,1199092
5,2001,1315755
6,2002,1488787
7,2003,1717950
8,2004,1957751
9,2005,2170585
10,2006,2409450
11,2007,2720263
12,2008,3109803
13,2009,3333039
14,2010,3885847
15,2011,4376382
16,2012,4814760
17,2013,5331619
18,2014,5778953
19,2015,5995787
20,2016,6269328
21,2017,6585479
22,2018,7004141
23,2019,7389131
24,2020,7609597
25,2021,9012142

## PIB Per Capta Anual

In [ ]:
# Link da API do IBGE

link_IBGE = "https://servicodados.ibge.gov.br/api/v3/agregados/6784/periodos/1996|1997|1998|1999|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|2019|2020|2021/variaveis/9812?localidades=N1[all]"

# Extração dos dados a partir do request

requisicao = requests.get(link_IBGE)

# Verifica se a requisição foi bem-sucedida

if requisicao.status_code == 200:
    # Converte a resposta em formato JSON para um dicionário
    info_pib_per_capta = requisicao.json()
else:
    print("Erro na requisição: ", response.status_code)

# Visualização do JSON

info_pib_per_capta

Out[4]: [{'id': '9812',
  'variavel': 'PIB per capita - valores correntes',
  'unidade': 'Reais',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'1996': '5219.36',
       '1997': '5729.02',
       '1998': '5944.92',
       '1999': '6359.80',
       '2000': '6900.62',
       '2001': '7467.03',
       '2002': '8340.58',
       '2003': '9506.76',
       '2004': '10705.99',
       '2005': '11733.45',
       '2006': '12880.52',
       '2007': '14390.01',
       '2008': '16280.82',
       '2009': '17271.34',
       '2010': '19938.60',
       '2011': '22259.91',
       '2012': '24278.35',
       '2013': '26657.54',
       '2014': '28648.74',
       '2015': '29466.85',
       '2016': '30558.75',
       '2017': '31843.95',
       '2018': '33593.82',
       '2019': '35161.70',
       '2020': '35935.69',
       '2021': '42247.52'}}]}]}]

In [ ]:
# Extração do array
pib_recorrente_per_capta = [
    info_pib_per_capta[0]["resultados"][0]["series"][0]["serie"]
]

# Criar o DataFrame a partir do array
db_pib_recorrente_per_capta = pd.DataFrame(pib_recorrente_per_capta)
db_pib_recorrente_per_capta = db_pib_recorrente_per_capta.T

# Renomear Colunas do DataFrame
db_pib_recorrente_per_capta.rename(columns={0: "PIB_Per_Capta"}, inplace=True)
db_pib_recorrente_per_capta = db_pib_recorrente_per_capta.rename_axis(
    "Ano"
).reset_index()

# Tratamento de dados: formatação das colunas e formato do dado

db_pib_recorrente_per_capta["Ano"] = db_pib_recorrente_per_capta["Ano"].astype(int)
db_pib_recorrente_per_capta["PIB_Per_Capta"] = db_pib_recorrente_per_capta[
    "PIB_Per_Capta"
].astype(float)

db_pib_recorrente_per_capta

,Ano,PIB_Per_Capta
0,1996,5219.36
1,1997,5729.02
2,1998,5944.92
3,1999,6359.80
4,2000,6900.62
5,2001,7467.03
6,2002,8340.58
7,2003,9506.76
8,2004,10705.99
9,2005,11733.45
10,2006,12880.52
11,2007,14390.01
12,2008,16280.82
13,2009,17271.34
14,2010,19938.60
15,2011,22259.91
16,2012,24278.35
17,2013,26657.54
18,2014,28648.74
19,2015,29466.85
20,2016,30558.75
21,2017,31843.95
22,2018,33593.82
23,2019,35161.70
24,2020,35935.69
25,2021,42247.52

#Dados Populacionais

##População residente

In [ ]:
# https://servicodados.ibge.gov.br/api
link_IBGE = "https://servicodados.ibge.gov.br/api/v3/agregados/6784/periodos/1996|1997|1998|1999|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|2019|2020|2021/variaveis/93?localidades=N1[all]"

requisicao = requests.get(link_IBGE)

# Verifica se a requisição foi bem-sucedida
if requisicao.status_code == 200:
    # Converte a resposta em formato JSON para um dicionário
    info_populacao_residente = requisicao.json()
else:
    print("Erro na requisição: ", response.status_code)

info_populacao_residente

Out[4]: [{'id': '93',
  'variavel': 'População residente',
  'unidade': 'Mil pessoas',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'1996': '163768',
       '1997': '166187',
       '1998': '168606',
       '1999': '171029',
       '2000': '173766',
       '2001': '176209',
       '2002': '178499',
       '2003': '180708',
       '2004': '182865',
       '2005': '184991',
       '2006': '187062',
       '2007': '189038',
       '2008': '191010',
       '2009': '192981',
       '2010': '194891',
       '2011': '196604',
       '2012': '198315',
       '2013': '200004',
       '2014': '201718',
       '2015': '203476',
       '2016': '205157',
       '2017': '206805',
       '2018': '208495',
       '2019': '210147',
       '2020': '211756',
       '2021': '213318'}}]}]}]

In [ ]:
# Extração do array com os dados que queremos visualizar
populacao_residente = [
    info_populacao_residente[0]["resultados"][0]["series"][0]["serie"]
]

# Criar o DataFrame a partir do array
df__populacao_residente = pd.DataFrame(populacao_residente)
df__populacao_residente = df__populacao_residente.T

# Renomear Colunas do DataFrame
df__populacao_residente.rename(columns={0: "Populacao_residente"}, inplace=True)
df__populacao_residente = df__populacao_residente.rename_axis("Ano").reset_index()

# Tratamento de dados: formatação das colunas e formato do dado

df__populacao_residente["Ano"] = df__populacao_residente["Ano"].astype(int)
df__populacao_residente["Populacao_residente"] = df__populacao_residente[
    "Populacao_residente"
].astype(int)


df__populacao_residente

,Ano,Populacao_residente
0,1996,163768
1,1997,166187
2,1998,168606
3,1999,171029
4,2000,173766
5,2001,176209
6,2002,178499
7,2003,180708
8,2004,182865
9,2005,184991
10,2006,187062
11,2007,189038
12,2008,191010
13,2009,192981
14,2010,194891
15,2011,196604
16,2012,198315
17,2013,200004
18,2014,201718
19,2015,203476
20,2016,205157
21,2017,206805
22,2018,208495
23,2019,210147
24,2020,211756
25,2021,213318

#(1209) População por grupo de idade

In [ ]:
# Link da API do IBGE

link_IBGE = "https://servicodados.ibge.gov.br/api/v3/agregados/1209/periodos/1900|1920|1940|1950|1960|1970|1980|1991|2000|2010|2022/variaveis/606?localidades=N1[all]|N2[1]&classificacao=58[1140,1141,1143,1144,1145,3299,3300,3301,3520,3244]"

# Extração dos dados a partir do request

requisicao = requests.get(link_IBGE)

# Verifica se a requisição foi bem-sucedida

if requisicao.status_code == 200:
    # Converte a resposta em formato JSON para um dicionário
    info_populacao_norte = requisicao.json()
else:
    print("Erro na requisição: ", response.status_code)


item_busca = info_populacao_norte[0]["resultados"]

# Visualizar o JSON de forma mais organizada
pprint.pprint(item_busca)

[{'classificacoes': [{'categoria': {'1140': '0 a 4 anos'},
                      'id': '58',
                      'nome': 'Grupo de idade'}],
  'series': [{'localidade': {'id': '1',
                             'nivel': {'id': 'N1', 'nome': 'Brasil'},
                             'nome': 'Brasil'},
              'serie': {'1900': '3001523',
                        '1920': '4593163',
                        '1940': '6439650',
                        '1950': '8370880',
                        '1960': '11193389',
                        '1970': '13811806',
                        '1980': '16423700',
                        '1991': '16521114',
                        '2000': '16375728',
                        '2010': '13796158',
                        '2022': '12704860'}},
             {'localidade': {'id': '1',
                             'nivel': {'id': 'N2', 'nome': 'Grande Região'},
                             'nome': 'Norte'},
              'serie': {'1900': '...',
                        '1920': '...',
                        '1940': '...',
                        '1950': '...',
                        '1960': '...',
                        '1970': '...',
                        '1980': '...',
                        '1991': '...',
                        '2000': '...',
                        '2010': '...',
                        '2022': '1413023'}}]},
 {'classificacoes': [{'categoria': {'1141': '5 a 9 anos'},
                      'id': '58',
                      'nome': 'Grupo de idade'}],
  'series': [{'localidade': {'id': '1',
                             'nivel': {'id': 'N1', 'nome': 'Brasil'},
                             'nome': 'Brasil'},
              'serie': {'1900': '2622485',
                        '1920': '4575530',
                        '1940': '5758816',
                        '1950': '7015527',
                        '1960': '10158423',
                        '1970': '13459508',
                        '1980': '14773741',
                        '1991': '17420159',
                        '2000': '16542327',
                        '2010': '14969375',
                        '2022': '13749440'}},
             {'localidade': {'id': '1',
                             'nivel': {'id': 'N2', 'nome': 'Grande Região'},
                             'nome': 'Norte'},
              'serie': {'1900': '...',
                        '1920': '...',
                        '1940': '...',
                        '1950': '...',
                        '1960': '...',
                        '1970': '...',
                        '1980': '...',
                        '1991': '...',
                        '2000': '...',
                        '2010': '...',
                        '2022': '1477405'}}]},
 {'classificacoes': [{'categoria': {'1143': '15 a 19 anos'},
                      'id': '58',
                      'nome': 'Grupo de idade'}],
  'series': [{'localidade': {'id': '1',
                             'nivel': {'id': 'N1', 'nome': 'Brasil'},
                             'nome': 'Brasil'},
              'serie': {'1900': '1862761',
                        '1920': '4217917',
                        '1940': '4443923',
                        '1950': '5502315',
                        '1960': '7174811',
                        '1970': '10253283',
                        '1980': '13575971',
                        '1991': '15017472',
                        '2000': '17939815',
                        '2010': '16990872',
                        '2022': '14375942'}},
             {'localidade': {'id': '1',
                             'nivel': {'id': 'N2', 'nome': 'Grande Região'},
                             'nome': 'Norte'},
              'serie': {'1900': '...',
                        '1920': '...',
                        '1940': '...',
                        '1950': '...',
                        '1960': '...',
                        '1970': '...',
                        '1980': '...',
                        '1991': '...',
                        '2000': '...',
                        '2010': '...',
                        '2022': '1545379'}}]},
 {'classificacoes': [{'categoria': {'1144': '20 a 24 anos'},
                      'id': '58',
                      'nome': 'Grupo de idade'}],
  'series': [{'localidade': {'id': '1',
                             'nivel': {'id': 'N1', 'nome': 'Brasil'},
                             'nome': 'Brasil'},
              'serie': {'1900': '1573072',
                        '1920': '2139364',
                        '1940': '3813355',
                        '1950': '4991139',
                        '1960': '6237920',
                        '1970': '8285805',
                        '1980': '11513220',
                        '1991': '13564878',
                        '2000': '16141515',
                        '2010': '17245192',
                        '2022': '15466463'}},
             {'localidade': {'id': '1',
                             'nivel': {'id': 'N2', 'nome': 'Grande Região'},
                             'nome': 'Norte'},
              'serie': {'1900': '...',
                        '1920': '...',
                        '1940': '...',
                        '1950': '...',
                        '1960': '...',
                        '1970': '...',
                        '1980': '...',
                        '1991': '...',
                        '2000': '...',
                        '2010': '...',
                        '2022': '1524097'}}]},
 {'classificacoes': [{'categoria': {'1145': '25 a 29 anos'},
                      'id': '58',
                      'nome': 'Grupo de idade'}],
  'series': [{'localidade': {'id': '1',
                             'nivel': {'id': 'N1', 'nome': 'Brasil'},
                             'nome': 'Brasil'},
              'serie': {'1900': '1453300',
                        '1920': '2487431',
                        '1940': '3356370',
                        '1950': '4132271',
                        '1960': '5245848',
                        '1970': '6504069',
                        '1980': '9442217',
                        '1991': '12638078',
                        '2000': '13849665',
                        '2010': '17104414',
                        '2022': '15469723'}},
             {'localidade': {'id': '1',
                             'nivel': {'id': 'N2', 'nome': 'Grande Região'},
                             'nome': 'Norte'},
              'serie': {'1900': '...',
                        '1920': '...',
                        '1940': '...',
                        '1950': '...',
                        '1960': '...',
                        '1970': '...',
                        '1980': '...',
                        '1991': '...',
                        '2000': '...',
                        '2010': '...',
                        '2022': '1429726'}}]},
 {'classificacoes': [{'categoria': {'3299': '30 a 39 anos'},
                      'id': '58',
                      'nome': 'Grupo de idade'}],
  'series': [{'localidade': {'id': '1',
                             'nivel': {'id': 'N1', 'nome': 'Brasil'},
                             'nome': 'Brasil'},
              'serie': {'1900': '2040009',
                        '1920': '3560225',
                        '1940': '4901682',
                        '1950': '6286052',
                        '1960': '8486378',
                        '1970': '10754252',
                        '1980': '14039109',
                        '1991': '20527256',
                        '2000': '25290473',
                        '2010': '29633091',
                        '2022': '31645908'}},
             {'localidade': {'id': '1',
                             'nivel': {'id': 'N2', 'nome': 'Grande Região'},
                             'nome': 'Norte'},
              'serie': {'1900': '...',
                        '1920': '...',
                        '1940': '...',
                        '1950': '...',
                        '1960': '...',
                        '1970': '...',
                        '1980': '...',
                        '1991': '...',
                        '2000': '...',
                        '2010': '...',
                        '2022': '2715405'}}]},
 {'classificacoes': [{'categoria': {'3300': '40 a 49 anos'},
                      'id': '58',
                      'nome': 'Grupo de idade'}],
  'series': [{'localidade': {'id': '1',
                             'nivel': {'id': 'N1', 'nome': 'Brasil'},
                             'nome': 'Brasil'},
              'serie': {'1900': '1350029',
                        '1920': '2401200',
                        '1940': '3441727',
                        '1950': '4365359',
                        '1960': '5950688',
                        '1970': '8082277',
                        '1980': '10377274',
                        '1991': '13959402',
                        '2000': '19268235',
                        '2010': '24842716',
                        '2022': '29712282'}},
             {'localidade': {'id': '1',
                             'nivel': {'id': 'N2', 'nome': 'Grande Região'},
                             'nome': 'Norte'},
              'serie': {'1900': '...',
                        '1920': '...',
                        '1940': '...',
                        '1950': '...',
                        '1960': '...',
                        '1970': '...',
                        '1980': '...',
                        '1991': '...',
                        '2000': '...',
                        '2010': '...',
                        '2022': '2330687'}}]},
 {'classificacoes': [{'categoria': {'3301': '50 a 59 anos'},
                      'id': '58',
                      'nome': 'Grupo de idade'}],
  'series': [{'localidade': {'id': '1',
                             'nivel': {'id': 'N1', 'nome': 'Brasil'},
                             'nome': 'Brasil'},
              'serie': {'1900': '771330',
                        '1920': '1451319',
                        '1940': '2044907',
                        '1950': '2650314',
                        '1960': '3752967',
                        '1970': '5228732',
                        '1980': '7250094',
                        '1991': '9407252',
                        '2000': '12507316',
                        '2010': '18416623',
                        '2022': '24167687'}},
             {'localidade': {'id': '1',
                             'nivel': {'id': 'N2', 'nome': 'Grande Região'},
                             'nome': 'Norte'},
              'serie': {'1900': '...',
                        '1920': '...',
                        '1940': '...',
                        '1950': '...',
                        '1960': '...',
                        '1970': '...',
                        '1980': '...',
                        '1991': '...',
                        '2000': '...',
                        '2010': '...',
                        '2022': '1629467'}}]},
 {'classificacoes': [{'categoria': {'3520': '60 a 69 anos'},
                      'id': '58',
                      'nome': 'Grupo de idade'}],
  'series': [{'localidade': {'id': '1',
                             'nivel': {'id': 'N1', 'nome': 'Brasil'},
                             'nome': 'Brasil'},
              'serie': {'1900': '355235',
                        '1920': '800866',
                        '1940': '1076139',
                        '1950': '1451468',
                        '1960': '2190638',
                        '1970': '3007637',
                        '1980': '4474511',
                        '1991': '6412918',
                        '2000': '8182035',
                        '2010': '11349930',
                        '2022': '17820621'}},
             {'localidade': {'id': '1',
                             'nivel': {'id': 'N2', 'nome': 'Grande Região'},
                             'nome': 'Norte'},
              'serie': {'1900': '...',
                        '1920': '...',
                        '1940': '...',
                        '1950': '...',
                        '1960': '...',
                        '1970': '...',
                        '1980': '...',
                        '1991': '...',
                        '2000': '...',
                        '2010': '...',
                        '2022': '1059995'}}]},
 {'classificacoes': [{'categoria': {'3244': '70 anos ou mais'},
                      'id': '58',
                      'nome': 'Grupo de idade'}],
  'series': [{'localidade': {'id': '1',
                             'nivel': {'id': 'N1', 'nome': 'Brasil'},
                             'nome': 'Brasil'},
              'serie': {'1900': '203164',
                        '1920': '433310',
                        '1940': '599395',
                        '1950': '753873',
                        '1960': '1140358',
                        '1970': '1708571',
                        '1980': '2741506',
                        '1991': '4309787',
                        '2000': '6353994',
                        '2010': '9240667',
                        '2022': '14292869'}},
             {'localidade': {'id': '1',
                             'nivel': {'id': 'N2', 'nome': 'Grande Região'},
                             'nome': 'Norte'},
              'serie': {'1900': '...',
                        '1920': '...',
                        '1940': '...',
                        '1950': '...',
                        '1960': '...',
                        '1970': '...',
                        '1980': '...',
                        '1991': '...',
                        '2000': '...',
                        '2010': '...',
                        '2022': '749078'}}]}]

In [ ]:
# Informações por categoria

resultados = info_populacao_norte[0]["resultados"]
categorias = []  # criar DF vazio

# Estrutura de repetição para extrair as categorias
for i in range(len(resultados)):
    # print (resultados[i])
    categorias.append(resultados[i]["classificacoes"][0]["categoria"].values())

# Criando DataFrame a partir das categorias
df_categorias = pd.DataFrame.from_dict(categorias)

# Convertendo as categorias em uma lista
lista_categorias = df_categorias[0].tolist()

# Criando a lista de período/ano

lista_anos = [
    "1900",
    "1920",
    "1940",
    "1950",
    "1960",
    "1970",
    "1980",
    "1991",
    "2000",
    "2010",
    "2022",
]

# Visualização das listas
print(lista_categorias)
print(lista_anos)

['0 a 4 anos', '5 a 9 anos', '15 a 19 anos', '20 a 24 anos', '25 a 29 anos', '30 a 39 anos', '40 a 49 anos', '50 a 59 anos', '60 a 69 anos', '70 anos ou mais']
['1900', '1920', '1940', '1950', '1960', '1970', '1980', '1991', '2000', '2010', '2022']

In [ ]:
# Informações por serie
resultados = info_populacao_norte[0]["resultados"]
serie = []

# Estrutura de repetição para extrair todos os dados por período/ano e categorias
for i in range(len(resultados)):
    serie.append(resultados[i]["series"][0]["serie"].values())

# Criando DataFrame a partir da serie
df_teste = pd.DataFrame.from_dict(serie)

# Organizando em colunas
df_teste = df_teste.T

# Renomeando as colunas a partir da lista de categorias
df_teste.columns = lista_categorias

# Renomeando as linhas a partir da lista de anos
df_teste.index = lista_anos

df_teste

,0 a 4 anos,5 a 9 anos,15 a 19 anos,20 a 24 anos,25 a 29 anos,30 a 39 anos,40 a 49 anos,50 a 59 anos,60 a 69 anos,70 anos ou mais
1900,3001523,2622485,1862761,1573072,1453300,2040009,1350029,771330,355235,203164
1920,4593163,4575530,4217917,2139364,2487431,3560225,2401200,1451319,800866,433310
1940,6439650,5758816,4443923,3813355,3356370,4901682,3441727,2044907,1076139,599395
1950,8370880,7015527,5502315,4991139,4132271,6286052,4365359,2650314,1451468,753873
1960,11193389,10158423,7174811,6237920,5245848,8486378,5950688,3752967,2190638,1140358
1970,13811806,13459508,10253283,8285805,6504069,10754252,8082277,5228732,3007637,1708571
1980,16423700,14773741,13575971,11513220,9442217,14039109,10377274,7250094,4474511,2741506
1991,16521114,17420159,15017472,13564878,12638078,20527256,13959402,9407252,6412918,4309787
2000,16375728,16542327,17939815,16141515,13849665,25290473,19268235,12507316,8182035,6353994
2010,13796158,14969375,16990872,17245192,17104414,29633091,24842716,18416623,11349930,9240667
2022,12704860,13749440,14375942,15466463,15469723,31645908,29712282,24167687,17820621,14292869

In [ ]:

#Declarando a categoria
values_1140= info_populacao_norte[0]['resultados'][0]['classificacoes'][0]['categoria']['1140']
#Convertendo o dicionário em dataframe
categoria_1140 = [info_populacao_norte [0] ['resultados'][1]['series'][0]['serie']]
df_categoria_1140= pd.DataFrame (categoria_1140)
#Organizando a lista em colunas
df_categoria_1140= df_categoria_1140.T
#Renomeando o nome das colunas
df_categoria_1140.rename(columns = {0: 'Populacao'}, inplace = True)
df_categoria_1140= df_categoria_1140.rename_axis ('Ano').reset_index()
#Criando uma coluna de categoria com base na variável "values" declarada
df_categoria_1140['Categoria'] = [values_1140] * len(df_categoria_1140)

#Criando esse mesmo processo para as demais categorias

values_1141= info_populacao_norte[0]['resultados'][1]['classificacoes'][0]['categoria']['1141']
categoria_1141 = [info_populacao_norte [0] ['resultados'][1]['series'][0]['serie']]
df_categoria_1141= pd.DataFrame (categoria_1141)
df_categoria_1141= df_categoria_1141.T
df_categoria_1141.rename(columns = {0: 'Populacao'}, inplace = True)
df_categoria_1141= df_categoria_1141.rename_axis ('Ano').reset_index()
df_categoria_1141['Categoria'] = [values_1141] * len(df_categoria_1141)


values_1143 = info_populacao_norte[0]['resultados'][2]['classificacoes'][0]['categoria']['1143']
categoria_1143 = [info_populacao_norte [0] ['resultados'][2]['series'][0]['serie']]
df_categoria_1143= pd.DataFrame (categoria_1143)
df_categoria_1143= df_categoria_1143.T
df_categoria_1143.rename(columns = {0: 'Populacao'}, inplace = True)
df_categoria_1143= df_categoria_1143.rename_axis ('Ano').reset_index()
df_categoria_1143['Categoria'] = [values_1143] * len(df_categoria_1143)


values_1144 = info_populacao_norte[0]['resultados'][3]['classificacoes'][0]['categoria']['1144']
categoria_1144 = [info_populacao_norte [0] ['resultados'][3]['series'][0]['serie']]
df_categoria_1144= pd.DataFrame (categoria_1144)
df_categoria_1144= df_categoria_1144.T
df_categoria_1144.rename(columns = {0: 'Populacao'}, inplace = True)
df_categoria_1144= df_categoria_1144.rename_axis ('Ano').reset_index()
df_categoria_1144['Categoria'] = [values_1144] * len(df_categoria_1144)


values_1145 = info_populacao_norte[0]['resultados'][4]['classificacoes'][0]['categoria']['1145']
categoria_1145= [info_populacao_norte [0] ['resultados'][4]['series'][0]['serie']]
df_categoria_1145= pd.DataFrame (categoria_1145)
df_categoria_1145= df_categoria_1145.T
df_categoria_1145.rename(columns = {0: 'Populacao'}, inplace = True)
df_categoria_1145= df_categoria_1145.rename_axis ('Ano').reset_index()
df_categoria_1145['Categoria'] = [values_1145] * len(df_categoria_1145)


values_3299 = info_populacao_norte[0]['resultados'][5]['classificacoes'][0]['categoria']['3299']
categoria_3299 = [info_populacao_norte [0] ['resultados'][5]['series'][0]['serie']]
df_categoria_3299 = pd.DataFrame (categoria_3299 )
df_categoria_3299 = df_categoria_3299 .T
df_categoria_3299.rename(columns = {0: 'Populacao'}, inplace = True)
df_categoria_3299= df_categoria_3299.rename_axis ('Ano').reset_index()
df_categoria_3299['Categoria'] = [values_3299] * len(df_categoria_3299)


values_3300 = info_populacao_norte[0]['resultados'][6]['classificacoes'][0]['categoria']['3300']
categoria_3300 =  [info_populacao_norte [0] ['resultados'][6]['series'][0]['serie']]
df_categoria_3300 = pd.DataFrame (categoria_3300)
df_categoria_3300 = df_categoria_3300.T
df_categoria_3300.rename(columns = {0: 'Populacao'}, inplace = True)
df_categoria_3300= df_categoria_3300.rename_axis ('Ano').reset_index()
df_categoria_3300['Categoria'] = [values_3300] * len(df_categoria_3300)


values_3301 = info_populacao_norte[0]['resultados'][7]['classificacoes'][0]['categoria']['3301']
categoria_3301 = [info_populacao_norte [0] ['resultados'][7]['series'][0]['serie']]
df_categoria_3301 = pd.DataFrame (categoria_3301)
df_categoria_3301 = df_categoria_3301.T
df_categoria_3301.rename(columns = {0: 'Populacao'}, inplace = True)
df_categoria_3301= df_categoria_3301.rename_axis ('Ano').reset_index()
df_categoria_3301['Categoria'] = [values_3301] * len(df_categoria_3301)


values_3520 = info_populacao_norte[0]['resultados'][8]['classificacoes'][0]['categoria']['3520']
categoria_3520 = [info_populacao_norte [0] ['resultados'][8]['series'][0]['serie']]
df_categoria_3520 = pd.DataFrame (categoria_3520)
df_categoria_3520 = df_categoria_3520.T
df_categoria_3520.rename(columns = {0: 'Populacao'}, inplace = True)
df_categoria_3520= df_categoria_3520.rename_axis ('Ano').reset_index()
df_categoria_3520['Categoria'] = [values_3520] * len(df_categoria_3520)


values_3244 = info_populacao_norte[0]['resultados'][9]['classificacoes'][0]['categoria']['3244']
categoria_3244 = [info_populacao_norte [0] ['resultados'][9]['series'][0]['serie']]
df_categoria_3244= pd.DataFrame (categoria_3244)
df_categoria_3244= df_categoria_3244.T
df_categoria_3244.rename(columns = {0: 'Populacao'}, inplace = True)
df_categoria_3244= df_categoria_3244.rename_axis ('Ano').reset_index()
df_categoria_3244['Categoria'] = [values_3244] * len(df_categoria_3244)


#Uniao dos dataframes declarados anteriormentes
df_union = pd.concat([df_categoria_1140,df_categoria_1141,df_categoria_1143,df_categoria_1144,df_categoria_1145,df_categoria_3299,df_categoria_3300,df_categoria_3301,df_categoria_3520,df_categoria_3244], ignore_index=True)


#Formatação dos dados por coluna
df_union['Ano'] = df_union['Ano'].astype(int)
df_union['Populacao'] = df_union['Populacao'].astype(int)
df_union['Categoria'] = df_union['Categoria'].astype(str)

# Base final
display(df_union)
df_union.to_excel('tabela.xlsx', index=False)

Ano,Populacao,Categoria
1900,2622485,0 a 4 anos
1920,4575530,0 a 4 anos
1940,5758816,0 a 4 anos
1950,7015527,0 a 4 anos
1960,10158423,0 a 4 anos
1970,13459508,0 a 4 anos
1980,14773741,0 a 4 anos
1991,17420159,0 a 4 anos
2000,16542327,0 a 4 anos
2010,14969375,0 a 4 anos
2022,13749440,0 a 4 anos
1900,2622485,5 a 9 anos
1920,4575530,5 a 9 anos
1940,5758816,5 a 9 anos
1950,7015527,5 a 9 anos
1960,10158423,5 a 9 anos
1970,13459508,5 a 9 anos
1980,14773741,5 a 9 anos
1991,17420159,5 a 9 anos
2000,16542327,5 a 9 anos
2010,14969375,5 a 9 anos
2022,13749440,5 a 9 anos
1900,1862761,15 a 19 anos
1920,4217917,15 a 19 anos
1940,4443923,15 a 19 anos
1950,5502315,15 a 19 anos
1960,7174811,15 a 19 anos
1970,10253283,15 a 19 anos
1980,13575971,15 a 19 anos
1991,15017472,15 a 19 anos
2000,17939815,15 a 19 anos
2010,16990872,15 a 19 anos
2022,14375942,15 a 19 anos
1900,1573072,20 a 24 anos
1920,2139364,20 a 24 anos
1940,3813355,20 a 24 anos
1950,4991139,20 a 24 anos
1960,6237920,20 a 24 anos
1970,8285805,20 a 24 anos
1980,11513220,20 a 24 anos
1991,13564878,20 a 24 anos
2000,16141515,20 a 24 anos
2010,17245192,20 a 24 anos
2022,15466463,20 a 24 anos
1900,1453300,25 a 29 anos
1920,2487431,25 a 29 anos
1940,3356370,25 a 29 anos
1950,4132271,25 a 29 anos
1960,5245848,25 a 29 anos
1970,6504069,25 a 29 anos
1980,9442217,25 a 29 anos
1991,12638078,25 a 29 anos
2000,13849665,25 a 29 anos
2010,17104414,25 a 29 anos
2022,15469723,25 a 29 anos
1900,2040009,30 a 39 anos
1920,3560225,30 a 39 anos
1940,4901682,30 a 39 anos
1950,6286052,30 a 39 anos
1960,8486378,30 a 39 anos
1970,10754252,30 a 39 anos
1980,14039109,30 a 39 anos
1991,20527256,30 a 39 anos
2000,25290473,30 a 39 anos
2010,29633091,30 a 39 anos
2022,31645908,30 a 39 anos
1900,1350029,40 a 49 anos
1920,2401200,40 a 49 anos
1940,3441727,40 a 49 anos
1950,4365359,40 a 49 anos
1960,5950688,40 a 49 anos
1970,8082277,40 a 49 anos
1980,10377274,40 a 49 anos
1991,13959402,40 a 49 anos
2000,19268235,40 a 49 anos
2010,24842716,40 a 49 anos
2022,29712282,40 a 49 anos
1900,771330,50 a 59 anos
1920,1451319,50 a 59 anos
1940,2044907,50 a 59 anos
1950,2650314,50 a 59 anos
1960,3752967,50 a 59 anos
1970,5228732,50 a 59 anos
1980,7250094,50 a 59 anos
1991,9407252,50 a 59 anos
2000,12507316,50 a 59 anos
2010,18416623,50 a 59 anos
2022,24167687,50 a 59 anos
1900,355235,60 a 69 anos
1920,800866,60 a 69 anos
1940,1076139,60 a 69 anos
1950,1451468,60 a 69 anos
1960,2190638,60 a 69 anos
1970,3007637,60 a 69 anos
1980,4474511,60 a 69 anos
1991,6412918,60 a 69 anos
2000,8182035,60 a 69 anos
2010,11349930,60 a 69 anos
2022,17820621,60 a 69 anos
1900,203164,70 anos ou mais
1920,433310,70 anos ou mais
1940,599395,70 anos ou mais
1950,753873,70 anos ou mais
1960,1140358,70 anos ou mais
1970,1708571,70 anos ou mais
1980,2741506,70 anos ou mais
1991,4309787,70 anos ou mais
2000,6353994,70 anos ou mais
2010,9240667,70 anos ou mais
2022,14292869,70 anos ou mais